<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div style="float:left;width:25%">
            <div>
                <h3>Sentence</h3>
                <textarea id="sentence">
                </textarea>
            </div>
            <div>
                <h3>Label</h3>
                <input id="classification" />
            </div>
            <div>
                <button id="teach">Teach</button>
            </div>
            <div>
                <p>For example: A SENTENCE of "hello how are you" could be have a CLASSIFICATION of "greeting"</p>
            </div>
        </div>
        <div style="float:left;width:37%">
            <h3>Raw training data</h3>
            <pre id="raw">
                {% if training_data %}
{{ training_data }}
                {% endif %}
            </pre>
        </div>
        <div style="float:left">
            <h3>Response Mapping</h3>
            <h4>Label</h4>
            <input id="target_label" />
            <h4>Response</h4>
            <input id="response" />
            <div>
                <button id="save_response">Save</button>
            </div>
            <div>
                <pre id="response_data">
                    {% if response_data %}
{{ response_data }}
                    {% endif %}
                </pre>
            </div>
        </div>
        <div style="clear:both"></div>
        <script src="/jquery.js"></script>
        <script>
            $(document).ready(function() {
                $('#teach').click(function(data) {
                    var classification = $('#classification').val();
                    var sentence = $('#sentence').val();
                    if (classification && sentence) {
                        $.post('/',
                            {
                                'cl': classification,
                                'se': sentence
                            },
                            function(data) {
                                $('#raw').html('');
                                $('#raw').html(data);
                            }
                        );
                    }
                });

                $('#save_response').click(function(data) {
                    var label = $('#target_label').val();
                    var response = $('#response').val();
                    if (label && response) {
                        $.post('/save_response',
                                {
                                    'label': label,
                                    'response': response
                                },
                                function(data) {
                                    $('#response_data').html(data);
                                }
                              );
                    }
                });
            });
        </script>
    </body>
</html>
